@import "~@blueprintjs/core/lib/scss/variables";

$login-width: 290px;

.login-scene {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .login-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: $login-width;
  }

  .login-body {
    background-color: #fff;
    border-radius: 3px;
    margin: 8px;
    padding: 18px;
    width: $login-width;
  }

  .login-footer {
    background-color: $pt-code-background-color;
    border-radius: 3px;
    margin-top: 15px;
    padding: 12px;
    text-align: center;
    width: $login-width;

    a {
      color: $pt-code-text-color;
    }
  }
}
