.paragraph-selection {
  opacity: .5;

  &.active {
    opacity: 1;
  }
}

.paragraph-manage {
  display: flex;
  align-items: center;
  margin: 18px;

  & > .paragraph-slider {
    margin-right: 18px;
  }
}
