.article-page {
  height: 100%;
  opacity: 1;
  transition: .5s opacity;

  &.fetching {
    opacity: .5;
  }

  & > .not-found {
    align-items: center;
    display: flex;
    font-size: 2.3rem;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    opacity: .7;
  }

  & > .content-wrapper {
    height: 100%;
    min-width: 700px;

    .content {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      overflow-x: hidden;
      padding: 26px 0;
      width: 700px;

      & > .article-title {
        font-size: 3rem;
        font-weight: bold;
        padding: 24px;
      }

      & > .article-details {
        padding: 24px;
        
        & > .published_in {
          text-align: left;
        }
      }

      & > .article-text {
        background-color: #fff;
        border-radius: 5px;
        line-height: 22px;
        padding: 24px;
      }
    }
  }
}