.articles-scene {
  height: 100%;

  & > .scene-wrapper {
    display: flex;
    height: 100%;

    & > .left-side {
      flex-shrink: 0;
      height: 100%;
      width: 250px;
    }
  
    & > .working-panel {
      height: 100%;
      width: 100%;
    }
  
    & > .content {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      width: 400px;
  
      .articles {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 26px;
  
        & > .title {
          background-color: #fff;
          border-radius: 5px;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0 6px 15px;
          padding: 18px;
        }
      }
    }
  }
}
