@import "~@blueprintjs/core/lib/scss/variables";

.articles-list_status {
  border-bottom: 1px solid $pt-dark-icon-color-disabled;
  display: flex;
  font-size: .9rem;
  justify-content: center;
  margin: 12px 18px;

  .last-update {
    background-color: $pt-app-background-color;
    margin-bottom: -8px;
    padding: 0 8px;
  }
}

.articles-list_load-more {
  padding: 8px;
  text-align: center;
}

.articles-list_elements {
  display: flex;
  flex-direction: column;
  margin: 12px 6px;
}

.articles-list_empty {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  opacity: .7;
}
