@import "~@blueprintjs/core/lib/scss/variables";

.article-card {
  align-items: flex-start;
  align-items: stretch;
  border-top: 1px solid $pt-dark-icon-color-disabled;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  margin: 0 12px;
  transition: .1s margin-top ease-in-out, .1s margin-bottom ease-in-out;

  &:first-of-type {
    border-top: none;
  }

  & > .header {
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

    & > .title {
      flex-grow: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  & > .sub-header {
    align-items: center;
    color: rgba(0, 0, 0, .7);
    display: flex;
    font-size: .8rem;

    & > .date-publish {
      margin-left: 4px;
    }
  }

  & > .description {
    display: none;
    line-height: 22px;
  }

  & > .manage {
    & > .right {
      text-align: right;
    }
  }

  & > .related-articles {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    padding: 12px;

    & > .empty {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .7;
    }

    & > .article {
      align-items: center;
      border-top: 1px solid $pt-dark-icon-color-disabled;
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      & > .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      & > .similar {
        flex-grow: 0;
        margin-left: 8px;
      }

      &:first-of-type {
        border-top-color: transparent;
      }
    }
  }

  &.active {
    border-top: none;
    cursor: default;
    margin: 18px 0;

    & > .header {
      background-color: #fff;
      border-radius: 5px 5px 0 0;
      padding: 12px 16px;

      & > .title {
        font-weight: bold;
      }
    }

    & > .sub-header {
      background-color: #fff;
      padding: 6px 16px;
    }

    & > .description {
      display: block;
      background-color: #fff;
      padding: 16px;
    }

    & > .manage {
      padding: 6px 12px 12px;
      background-color: #fff;
      border-radius: 0 0 5px 5px;
    }

    & + .article-card {
      border-width: 0px;
    }
  }
}
