.article-paragraph {
  transition: .5s opacity, .3s margin;
  cursor: pointer;
  margin-bottom: 14px;
}

.article-paragraph.selected {
  opacity: .5;

  &:first-of-type.active {
    margin-top: 0;
  }

  &:last-of-type.active {
    margin-bottom: 14px;
  }

  &.active {
    margin-top: 36px;
    margin-bottom: 36px;
    opacity: 1;
    cursor: default;
  }
}