@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html, body {
  background-color: $pt-app-background-color;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.preloader {
  align-items: center;
  background-color:rgba(#fff, .5);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  left: 50%;
  padding: 8px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  z-index: 999;
}